ul.nav {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    width: auto;
    float: left;
}

ul.nav .logo img {
    height: 10px;
    position: relative;
    transform: scale(5);
    margin-right: 25px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

li > a {
    color: rgb(255,255,255);
    text-decoration: none;
}