ul.nav {
    padding: 0;
    margin: 0;
    text-align: center;
    width: auto;
    float: left;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}

ul.nav .logo img {
    height: 10px;
    position: relative;
    transform: scale(5);
    margin-right: 25px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

li > a {
    color: rgb(255,255,255);
    text-decoration: none;
}