.headerstatus {
    float: right;
    margin: 0;
    padding: 0;
    height: 40px;
}

.headerstatus>li {
    position: relative;
    margin: 0 0 0 5px;
}

.headerstatus>li>input {
    font-size: 1em;
    background: none;
    color: white;
    border: none;
}

.headerstatus li.border {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}